# Godot 4+ specific ignores
.godot/
/android/

# Jetbrains
.idea/

# Godot-specific ignores
.import/
*.import
export.cfg
export_credentials.cfg

# Binary Files
*.dll
~*.dll
~*.pdb

# Godot Export
Export/

# CspDiscordRpcGd
Settings.json

