[submodule "Extensions/CspDiscordRpcGdCpp/Dependencies/godot-cpp"]
	path = Extensions/CspDiscordRpcGdCpp/Dependencies/godot-cpp
	url = https://github.com/godotengine/godot-cpp
[submodule "Extensions/CspDiscordRpcGdCpp/Dependencies/glaze"]
	path = Extensions/CspDiscordRpcGdCpp/Dependencies/glaze
	url = https://github.com/stephenberry/glaze
[submodule "Extensions/CspDiscordRpcGdCpp/Dependencies/discord-presence"]
	path = Extensions/CspDiscordRpcGdCpp/Dependencies/discord-presence
	url = https://github.com/EclipseMenu/discord-presence
