# Godot 4+ specific ignores
.godot/
/android/

# Jetbrains
.idea/

# Godot-specific ignores
.import/
*.import
export.cfg
export_credentials.cfg

# Windows Binary Files
*.dll
~*.dll
~*.pdb

# macOS Binary Files
*.dylib
*.DS_Store

# Linux Binary Files
*.so

# Godot Export
Export/

# CspDiscordRpcGd
Settings.json

